################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WineManagement/.vs/WineManagement/FileContentIndex/733a0d73-4524-4dcb-8317-88a3d1bd0348.vsidx
/WineManagement/.vs/WineManagement/FileContentIndex/84cb11cb-265a-4d2e-9f4d-8eb55d29befd.vsidx
